# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [3]:
numberFloat = 2.3

print(numberFloat)

number_float = 2.5

print(number_float)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# shorthand version
result += 1
print(result)

7.4
8.4

##### Subtraction

In [9]:
result_diff = num2 - num1
print(result_diff)

# shorthand version
result_diff -= 2
print(result_diff)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

#shorthand
result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [11]:
result_div = num2/num1
print(result_div)

#shorthand
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

#shorthand
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [17]:
result_mod = 100 % 30
print(result_mod)

#short
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [19]:
square = 5 ** 2
print(square)

#shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [20]:
name = "nita"
print(name)

nita

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print("This is my first name: ", name)

print('Say, "Hello!" ', name)

print("Full name: ", name, end= " sokphoodsa")

This is my first name:  nita
Say, "Hello!"  nita
Full name:  nita sokphoodsa

##### String Concatenation

In [28]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

#shorthand
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [31]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)
print(number)

37
32

##### input()

In [41]:
# input() will always return a string!!! all the time!

# name = input("What is your name? ")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

How old are you? 14
15

##### format()

In [47]:
# age = input("What is your age? ")
# name = input("What is your name? ")

# result_string  = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
# print(result_string)

age = 88
new_age = str(age)
name = "Shaun"

result_string  = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{new_age + '1'} is a great time in life!"
print(result_again)

You are Shaun, you are 88 years old and you are getting wiser!
881 is a great time in life!

##### Old Way (python 2)

In [48]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [170]:
color = input("What is the color of you car? ")
year = input("What is the manufacture year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the car model? ")

my_car_info = "I own a {} {} {} {}.".format(color, year, make, model)
print(my_car_info)

What is the color of you car? white
What is the manufacture year of your car? 2011
What is the make of your car? ford
What is the car model? mustang
I own a white 2011 ford mustang.

### If Statements

In [63]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

# if (thing that is true or false) is true:
    # do this stuff
# this part will happen anyways

num1 = 5
num2 = 5

if num1 == num2:
    print("Equal values")
else:
    print("Not equal")
    
if num2 > num1:
    print("Num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They're the same")

Equal values
They're the same

##### 'is' keyword

In [65]:
# use 'is' when checking for same or similar object, NOT the same value

num3 = 55
num4 = num3

if num3 is num4:
    print("This is the same type or similar object")

This is the same type or similar object

##### 'in' keyword

In [66]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [67]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [169]:
user_input = input("Enter a word here: ")

if "p" in user_input:
    print("The letter 'p' is in the input.")
else:
    print("The letter 'p' is not in the input.")

Enter a word here: house
The letter 'p' is not in the input.

## Using 'and'/'or' with If Statements

In [80]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = "Max"
age = 11

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is not Max")
else:
    print("The name is Max")

I am either Max or I am 10

### Elif Statements

In [ ]:
first_name = "Max"
age = 11

if first_name == "Max" and age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")

### Else Statements

In [ ]:
# see above

### For Loops

In [90]:
# for item in iterable_thing:
    # do some stuff
    
name = "Nita Sokphoodsa"

for letter in name:
    print(letter)
    
for letter in range(10):
    print(name)

print(len(name))

for letter in range(len(name)):
    print(letter)
    
for letter in range(len(name)):
    print(name[0])
    
for letter in range(len(name)):
    print(name[letter])

N
i
t
a

S
o
k
p
h
o
o
d
s
a
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
Nita Sokphoodsa
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
N
i
t
a

S
o
k
p
h
o
o
d
s
a

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [91]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [92]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

# i will come back and finish this part of my code later!!

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)
        
total = 0

for i in range(5):
    for j in range(5):
        total += 1
        print(total)

### While Loops

In [192]:
# while condition statement (something that is true or false):
    # do some stuff repeatedly

num = 0
while num < 10:
        print(num)  # CTRL+C to stop
        num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [105]:
# game_over = False

# while True:
#     print("Infinite loop")
#     if game_over == False:
#         break
        
# game_over = True

# while game_over:
#     print("Infinite loop")
#     game_over = False

    
game_running = True
score = 0

while game_running:
    user_input = input("Say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"score: {score}")

Say some stuff stuff
stuff
score: 1
Say some stuff some stuff
some stuff
score: 2
Say some stuff more stuff
more stuff
score: 3
Say some stuff quit
quit
score: 4

##### While & For Loops Used Together

In [108]:
num = 0

while num <= 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [115]:
for i in range(20):
    print(i)
    
for i in range(2, 20):
    print(i)

# # range(start, stop, step)
# # defaults: start = 0, stop is required, step = 1

for i in range(2, 20, 3):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [116]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [120]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [121]:
print(isinstance(4.5,int))

if isinstance(4.5, float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [122]:
# / 5 /

print(abs(-5))

5

### Try and Except

In [129]:
# use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input to a number")

Guess a number 5
Your number is: 5

### Lists

##### Declaring Lists

In [153]:
my_list = [] # empty list

names = ['Max', 'Cindy', 'Kathy', 5, 'Nate']

print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [146]:
# syntax: list_name[start:stop:step]


# single index
print(names[2])

# print the last value no matter the size of the list!
print(names[-1])

# print starting at 1 going to the end
print(names[1:])

# print starting at beginning of list until whatever index we give it
print(names[:3])

# print from one index to another
print(names[2:4])

# print starting at index one going up by 2 for each interation
print(names[1::2])

# print starting at the end and going down by 1 each time
print(names[::-1])

Kathy
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [154]:
names.append("bob")
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']

##### .insert()

In [155]:
names.insert(3,'Gabby')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'bob']

##### .pop()

In [156]:
# default is the very last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']

['Max', 'Cindy', 'Kathy', 5, 'Nate']


##### .remove()

In [ ]:
# value to be removed, not to be index
names.remove("bob")
print(names)

# remove multiple bobs from the list
while "bob" in names:
    name.remove("bob")
print(names)

##### del()

In [158]:
# be careful, it can cause indexing errors if used improperly
# remove by index

del(names[1])
print(names)

['Max', 'Kathy', 5, 'Nate']

##### Concatenating Two Lists

In [159]:
first_list = [0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [162]:
names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]

print(names)
print(names[3])
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Sally', 'Sue', 'Tameka']
Sue

##### Looping Through Lists

In [165]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# with a for loop using the index
for i in range(len(names)):
    print(names[i])
    
# loop with a for loop and in
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [191]:
for i in range(1, 1001):
    cubedNum = i * i * i
    if cubedNum > 1000:
        break
    print(i, "->", cubedNum)

1 -> 1
2 -> 8
3 -> 27
4 -> 64
5 -> 125
6 -> 216
7 -> 343
8 -> 512
9 -> 729
10 -> 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [206]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for num in range(1, 100 + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [177]:
user_age = int(input("How old are you? "))

if user_age < 18:
    print("Kids")
elif user_age >= 18 and user_age <= 65:
    print("Adults")
else:
    print("Seniors")

How old are you? 66
Seniors